*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/cyberpunk-mclaren-supercars-neon-art-3840x2160-1003.jpg);
    background-size: cover ;
    height: 100vh;
    background-color: aqua;
}
